body {
    background-image: url(./img/background/horoscope_bkgr.jpg);
    color: white;    
}

table, td, tr {
  border: 1px solid white;
  border-collapse: collapse;
  text-align: center;
  margin: 0 auto;
  margin-top: 200px;
}

table th {
    width: 1000px;
}

tbody td:nth-child(1),
tbody td:nth-child(3){
  width: 65px;
  height: 55px;
}

th {
  text-transform: uppercase;
  color: skyblue;
  padding: 10px;
  font-size: 20px;
  font-weight: 100;
}
